// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;
@black: #070707;
@white: #f0f0f0;

@cyan: #2D74E8;
@blue: #3E54FF;
@light-blue: #32B5FF;
@purple: #8932FF;
@green: #5AB223;
@red: #FF4B54;
@orange: #FF8658;
@yellow: #FFD43E;
